<div class="col-md-3">
        <div class="panel text-center">
        <div class="panel-body">
          <img alt="Avatar" class="img-md img-circle img-border mar-btm" src="https://bootdey.com/img/Content/avatar/avatar4.png">
          <h4 class="mar-no">{{name}}</h4>
          <p>{{designtion}}</p>
        </div>
        <div class="pad-all">
          <p class="text-muted">
            {{text}}
          </p>
          <div class="pad-btm">
            <button class="btn btn-primary">{{button1}}</button>
            <button class="btn btn-success">{{button2}}</button>
          </div>
        </div>
      </div>
    </div>    

