    <div class="col-md-3">
      <div class="panel widget">
        <div class="widget-header bg-primary"></div>
        <div class="widget-body text-center">
          <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="https://bootdey.com/img/Content/avatar/avatar1.png">
          <h4 class="mar-no">{{name}}</h4>
          <p class="text-muted mar-btm">{{designation}}</p>
    
          <div class="pad-ver">
            <button class="btn btn-primary">{{button1}}</button>
            <button class="btn btn-success">{{button2}}</button>
          </div>
        </div>
      </div>
    </div>