<div class="col-md-3">
        <div class="panel widget">
        <div class="widget-header bg-success"></div>
        <div class="widget-body text-center">
          <img alt="Profile Picture" class="widget-img img-circle img-border" src="https://bootdey.com/img/Content/avatar/avatar2.png">
          <h4 class="mar-no">Donald Brown</h4>
          <p class="text-muted mar-btm">Web and Graphic designer</p>
    
          <div class="pad-ver">
            <a class="btn btn-default btn-icon btn-hover-primary fa fa-facebook icon-lg add-tooltip" href="#" title="" data-original-title="Facebook"></a>
            <a class="btn btn-default btn-icon btn-hover-info fa fa-twitter icon-lg add-tooltip" href="#" title="" data-original-title="Twitter"></a>
            <a class="btn btn-default btn-icon btn-hover-danger fa fa-google-plus icon-lg add-tooltip" href="#" title="" data-original-title="Google+"></a>
            <a class="btn btn-default btn-icon btn-hover-mint fa fa-envelope icon-lg add-tooltip" href="#" title="" data-original-title="Email"></a>
          </div>
        </div>
      </div>
    </div>