<div class="col-md-3">
        <div class="panel widget">
        <div class="widget-header bg-purple">
          <img class="widget-bg img-responsive" src="https://via.placeholder.com/500x320/" alt="Image">
        </div>
        <div class="widget-body text-center">
          <img alt="Profile Picture" class="widget-img img-border-light" src="https://bootdey.com/img/Content/avatar/avatar3.png">
          <h4 class="mar-no">{{name}}</h4>
          <p class="text-muted mar-btm">{{designation}}</p>
    
          <ul class="list-unstyled text-center pad-top mar-no clearfix">
            <li class="col-xs-4">
              <span class="text-lg">{{following}}</span>
              <p class="text-muted text-uppercase">
                <small>Following</small>
              </p>
            </li>
            <li class="col-xs-4">
              <span class="text-lg">{{followers}}</span>
              <p class="text-muted text-uppercase">
                <small>Followers</small>
              </p>
            </li>
            <li class="col-xs-4">
              <span class="text-lg">{{likes}}/span>
              <p class="text-muted text-uppercase">
                <small>Likes</small>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>