<!-- card with 2 links -->
	<div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">{{title}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{text}}</p>
                        <a href="{{url1}}" class="btn btn-primary">{{urlText1}}</a>  <a href="{{url2}}" class="btn btn-primary">{{urlText2}}</a>
                    </div>
                </div>
            </div>
