<!-- cardx -->

                                <div class="blog-box row">
<div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{{url}}" title="">
                                                <img src="http://via.placeholder.com/640x360/D5212E/FFFFFF/?text={{name}}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->
                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{{url}}" style="text-decoration: none;" title="">{{name}}</a></h4>
                                        <p>{{title}}</p>
                                        <small class="firstsmall"><a class="bg-orange" href="#" title="">---</a></small>
                                        
                                        {{text}}
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
<!-- card end -->